<div class="div1"><!--primeira divisão-->
    <div><!--segunda divisão linha-->
        <div><!--terceira divisão dupla-->
             <div> <!--quarta divisão individual-->
               <img src="./assets/fotos-clientes/Loiro_antes_depois.png" class="antes">
               <p class="parantes">MECHAS</p>
             </div>   <!--quarta divisão individual-->
        
             <div><!--quarta divisão individual-->
               <img src="./assets/fotos-clientes/Antes e Depois Cabelo.png" class="depois">
               <p class="pardepois">COLORAÇÃO</p>
            </div><!--quarta divisão individual-->
        </div><!--terceira divisão dupla-->
        <div><!--terceira divisão dupla-->
          <div><!--quarta divisão individual-->
            <img src="./assets/fotos-clientes/Antes e Depois Cabelo 2.png" class="antes1">
            <p class="parantes1">PROGRESSIVA</p>
          </div><!--quarta divisão individual-->
          <div><!--quarta divisão individual-->
            <img src="./assets/fotos-clientes/Antes e Depois Cabelo 3.png" class="depois1">
            <p class="pardepois1">OMBRE HAIR</p>
        </div> <!--quarta divisão individual-->
    </div> <!--segunda divisão linha-->
    <div><!--segunda divisão linha-->
        <div><!--terceira divisão dupla-->
             <div> <!--quarta divisão individual-->
               <img src="./assets/fotos-clientes/Antes e Depois Cabelo 4.jpg" class="antes2">
               <p class="parantes2">MORENO ILUMINADO</p>
             </div>   <!--quarta divisão individual-->
             <div><!--quarta divisão individual-->
               <img src="./assets/fotos-clientes/Antes e Depois Cabelo 5.jpg" class="depois2">
               <p class="pardepois2">PROGRESSIVA</p>
            </div><!--quarta divisão individual-->
        </div><!--terceira divisão dupla-->
        <div><!--terceira divisão dupla-->
          <div><!--quarta divisão individual-->
            <img src="./assets/fotos-clientes/antes e depois com cachos.png" class="antes3">
            <p class="parantes3">MECHAS</p>
          </div><!--quarta divisão individual-->
          <div><!--quarta divisão individual-->
            <img src="./assets/fotos-clientes/ANtes ruivo depois cinza.png" class="depois3">
            <p class="pardepois3">PLATINADO</p>
         </div> <!--quarta divisão individual-->
        </div><!--terceira divisão dupla-->
    </div> <!--segunda divisão linha-->
</div> <!--primeira divisão-->
