<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>                    
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Nunito:wght@200&display=swap" rel="stylesheet">
     <img src="assets/img/tesoura e pente.png" class="imagemtep">   
    <h1 style="text-align: center">nosso site</h1>


        <p class="paragrafo">Somos Especialistas em Cabelos Loiros</p>
            
            <div>

          <img src="assets/img/foto-home1.jpg" class="fotohome">
          <img src="assets/img/foto-home2.jpg" class="fotohome">
          <img src="assets/img/foto-home.jpg" class="fotohome">
             </div>
             
       
         <p class="para"> Os Serviços Do Espaço M'Sister Não São Poucos! Veja:</p>

        <ul class="listabene">

            <p class="itensbene">Profissionais Qualificados</p>
            <p class="itensbene">Espaço Confortavel</p>
            <p class="itensbene">Atendimento Claro Ao Cliente</p>
            <p class="itensbene">Localização</p>
            <p class="itensbene">Pontualidade</p>
            <p class="itensbene">Limpeza Profunda</p>
        </ul> 
        <img src="assets/img/corte.jpg" class="imagembene">
        <header>
            <div class="kaixa">
            <nav>
                <ul>
                <li><a href=".//produtos" class="botao">produtos</a></li>
                <li><a href=".//contato" class="botao">contato</a></li>
                <li><a href=".//fotos" class="botao">Fotos</a></li>
                </ul>
            </nav>
        </div>

        <footer>
        </footer>